<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <style>
    table.head, table.foot { width: 100%; }
    td.head-rtitle, td.foot-os { text-align: right; }
    td.head-vol { text-align: center; }
    div.Pp { margin: 1ex 0ex; }
  </style>
  <title>KCONFIG_COMPILER(1)</title>
</head>
<body>
<table class="head">
  <tr>
    <td class="head-ltitle">KCONFIG_COMPILER(1)</td>
    <td class="head-vol">Programming Tool</td>
    <td class="head-rtitle">KCONFIG_COMPILER(1)</td>
  </tr>
</table>
<div class="manual-text"><b>kconfig_compiler</b>
<h1 class="Sh" title="Sh" id="NAME"><a class="selflink" href="#NAME">NAME</a></h1>
kconfig_compiler - KDE configuration compiler
<h1 class="Sh" title="Sh" id="SYNOPSIS"><a class="selflink" href="#SYNOPSIS">SYNOPSIS</a></h1>
<div class="Pp" style="margin-left: 17.00ex; text-indent: -17.00ex;"><b>kconfig_compiler</b>
  [Qt-options] [KDE-options] [options] <i>file.kcfg</i> <i>file.kcfgc</i></div>
<h1 class="Sh" title="Sh" id="DESCRIPTION"><a class="selflink" href="#DESCRIPTION">DESCRIPTION</a></h1>
<b>kconfig_compiler</b> generates C++ source code from two files. The first file
  (.kcfg) contains information about configuration options and the second file
  (.kcfgc) provides the code generation options.
<div class="Pp"></div>
The generated source code contains a class based on <b>KConfigSkeleton</b> that
  provides an API to access the applications configuration data.
<h1 class="Sh" title="Sh" id="OPTIONS"><a class="selflink" href="#OPTIONS">OPTIONS</a></h1>
<b>Arguments:</b>
<div class="Pp"></div>
<i>file.kcfg</i>
<div style="margin-left: 4.00ex;">Input kcfg XML file</div>
<div class="Pp"></div>
<i>file.kcfgc</i>
<div style="margin-left: 4.00ex;">Code generation options file</div>
<div class="Pp"></div>
<b>Options:</b>
<div class="Pp"></div>
<b>-d, --directory &lt;dir&gt;</b>
<div style="margin-left: 4.00ex;">Directory to generate files in [.]</div>
<div class="Pp"></div>
<b>Generic options:</b>
<div class="Pp"></div>
<b>--help</b>
<div style="margin-left: 4.00ex;">Show help about options</div>
<div class="Pp"></div>
<b>--help-qt</b>
<div style="margin-left: 4.00ex;">Show Qt specific options</div>
<div class="Pp"></div>
<b>--help-kde</b>
<div style="margin-left: 4.00ex;">Show KDE specific options</div>
<div class="Pp"></div>
<b>--help-all</b>
<div style="margin-left: 4.00ex;">Show all options</div>
<div class="Pp"></div>
<b>--author</b>
<div style="margin-left: 4.00ex;">Show author information</div>
<div class="Pp"></div>
<b>-v, --version</b>
<div style="margin-left: 4.00ex;">Show version information</div>
<div class="Pp"></div>
<b>--license</b>
<div style="margin-left: 4.00ex;">Show license information</div>
<div class="Pp"></div>
<b>KDE Options:</b>
<div class="Pp"></div>
<b>--caption &lt;caption&gt;</b>
<div style="margin-left: 4.00ex;">Use 'caption' as name in the titlebar</div>
<div class="Pp"></div>
<b>--icon &lt;icon&gt;</b>
<div style="margin-left: 4.00ex;">Use 'icon' as the application icon</div>
<div class="Pp"></div>
<b>--miniicon &lt;icon&gt;</b>
<div style="margin-left: 4.00ex;">Use 'icon' as the application icon</div>
<div class="Pp"></div>
<b>--config &lt;filename&gt;</b>
<div style="margin-left: 4.00ex;">Use alternative configuration file</div>
<div class="Pp"></div>
<b>--dcopserver &lt;server&gt;</b>
<div style="margin-left: 4.00ex;">Use the DCOP server specified by
  'server'</div>
<div class="Pp"></div>
<b>--nocrashhandler</b>
<div style="margin-left: 4.00ex;">Disable crash handler to get core dumps</div>
<div class="Pp"></div>
<b>--waitforwm</b>
<div style="margin-left: 4.00ex;">Waits for a WM_NET compatible
  windowmanager</div>
<div class="Pp"></div>
<b>--style &lt;style&gt;</b>
<div style="margin-left: 4.00ex;">Sets the application GUI style</div>
<div class="Pp"></div>
<b>--geometry &lt;geometry&gt;</b>
<div style="margin-left: 4.00ex;">Sets the client geometry of the main widget -
  see man X for the argument format</div>
<div class="Pp"></div>
<b>Qt options:</b>
<div class="Pp"></div>
<b>--display &lt;displayname&gt;</b>
<div style="margin-left: 4.00ex;">Use the X-server display 'displayname'</div>
<div class="Pp"></div>
<b>--session &lt;sessionId&gt;</b>
<div style="margin-left: 4.00ex;">Restore the application for the given
  'sessionId'</div>
<div class="Pp"></div>
<b>--cmap</b>
<div style="margin-left: 4.00ex;">Causes the application to install a private
  color map on an 8-bit display</div>
<div class="Pp"></div>
<b>--ncols &lt;count&gt;</b>
<div style="margin-left: 4.00ex;">Limits the number of colors allocated in the
  color cube on an 8-bit display, if the application is using the
  QApplication::ManyColor color specification</div>
<div class="Pp"></div>
<b>--nograb</b>
<div style="margin-left: 4.00ex;">Tells Qt to never grab the mouse or the
  keyboard</div>
<div class="Pp"></div>
<b>--sync</b>
<div style="margin-left: 4.00ex;">Switches to synchronous mode for
  debugging</div>
<div class="Pp"></div>
<b>--fn, --font &lt;fontname&gt;</b>
<div style="margin-left: 4.00ex;">Defines the application font</div>
<div class="Pp"></div>
<b>--bg, --background &lt;color&gt;</b>
<div style="margin-left: 4.00ex;">Sets the default background color and an
  application palette (light and dark shades are calculated)</div>
<div class="Pp"></div>
<b>--fg, --foreground &lt;color&gt;</b>
<div style="margin-left: 4.00ex;">Sets the default foreground color</div>
<div class="Pp"></div>
<b>--btn, --button &lt;color&gt;</b>
<div style="margin-left: 4.00ex;">Sets the default button color</div>
<div class="Pp"></div>
<b>--name &lt;name&gt;</b>
<div style="margin-left: 4.00ex;">Sets the application name</div>
<div class="Pp"></div>
<b>--title &lt;title&gt;</b>
<div style="margin-left: 4.00ex;">Sets the application title (caption)</div>
<div class="Pp"></div>
<b>--visual TrueColor</b>
<div style="margin-left: 4.00ex;">Forces the application to use a TrueColor
  visual on an 8-bit display</div>
<div class="Pp"></div>
<b>--inputstyle &lt;inputstyle&gt;</b>
<div style="margin-left: 4.00ex;">Sets XIM (X Input Method) input style.
  Possible values are onthespot, overthespot, offthespot, and root</div>
<div class="Pp"></div>
<b>--im &lt;XIM server&gt;</b>
<div style="margin-left: 4.00ex;">Sets XIM server</div>
<div class="Pp"></div>
<b>--noxim</b>
<div style="margin-left: 4.00ex;">Disable XIM</div>
<div class="Pp"></div>
<b>--reverse</b>
<div style="margin-left: 4.00ex;">Mirrors the whole layout of widgets</div>
<h1 class="Sh" title="Sh" id="SEE_ALSO"><a class="selflink" href="#SEE_ALSO">SEE
  ALSO</a></h1>
<b>http://developer.kde.org</b>
<div style="margin-left: 4.00ex;">KDE Developer's Corner website</div>
<h1 class="Sh" title="Sh" id="BUGS"><a class="selflink" href="#BUGS">BUGS</a></h1>
Please use <b>bugs.kde.org</b>[1] to report bugs, do not mail the authors
  directly.
<h1 class="Sh" title="Sh" id="AUTHORS"><a class="selflink" href="#AUTHORS">AUTHORS</a></h1>
<b>Cornelius Schumacher</b> &lt;schumacher@kde.org&gt;
<div style="margin-left: 4.00ex;">Author.</div>
<div class="Pp"></div>
<b>Waldo Bastian</b> &lt;bastian@kde.org&gt;
<div style="margin-left: 4.00ex;">Author.</div>
<div class="Pp"></div>
<b>Zack Rusin</b> &lt;zack@kde.org&gt;
<div style="margin-left: 4.00ex;">Author.</div>
<h1 class="Sh" title="Sh" id="NOTES"><a class="selflink" href="#NOTES">NOTES</a></h1>
<dl class="Bl-tag">
  <dt class="It-tag"> 1.</dt>
  <dd class="It-tag">bugs.kde.org</dd>
</dl>
<div style="margin-left: 4.00ex;">http://bugs.kde.org</div>
</div>
<table class="foot">
  <tr>
    <td class="foot-date">2006-06-01</td>
    <td class="foot-os">K Desktop Environment</td>
  </tr>
</table>
</body>
</html>
